.tengo-ideas {
  background: #b1d035;
  border-radius: 10px;
  width: 45%;
  height: 45%;
  font-family: cursive;
  font-size: 22px;  
  margin-top: -1em;
  margin-bottom: -1em;
  margin-left: .8em;
  margin-right: -2em;
  padding-top: .5em;
  padding-bottom: -3em;
  padding-left: -2em;
  padding-right: -2em;
}
@media screen and (min-width: 640px) {
  .tengo-ideas {
    display: flex;
    justify-content: space-evenly;
    
  }
}

.ideas{
  width: 55px;
  height: 55px;
  margin-top: -.1em;
  margin-bottom: 4em;
  margin-right: 1em;
  margin-left: -3.5em;
  padding-top: -3em;
  padding-bottom: -3em;
  padding-right: -5em;
  padding-left: -3em;
}
.preocupa-alguien{
  background: #b1d035;
  border-radius: 10px;
  width: 45%;
  height: 45%;
  font-family: cursive;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: -3em;
  margin-left: 2em;
  margin-right: -1em;
  padding-top: 3.4em;
  padding-bottom: 1.9em;
  padding-left: -2em;
  padding-right: -3em;
}
@media screen and (min-width: 640px) {
  .preocupa-alguien {
    display: flex;
    justify-content: space-evenly;
    transform: translateX(0);
  }
}

.preocupa{
  width: 55px;
  height: 55px;
  margin-top: -8em;
  margin-bottom: -2em;
  margin-right: -3.5em;
  margin-left: -.1em;
  padding-top: -2em;
  padding-bottom: -2em;
  padding-right: -1em;
  font-size: 20px; 
}

.profesional-familia-interesado{
  background: #b1d035;
  width: 45%;
  height: 45%;
  font-family: cursive;
  border-radius: 10px;
  margin-top: 1.5em;
  margin-bottom: -8em;
  margin-left: 1.1em;
  margin-right: 1em;
  padding-top: .5em;
  padding-bottom: -3em;
  padding-left: -4em;
  padding-right: -3em;
}
@media screen and (min-width: 640px) {
  .profecional-familia-interesado {
    display: flex;
    justify-content: space-evenly;
  }
}

.hospital {
  width: 100px;
  height: 100px;
  padding-bottom: 1em;
  padding-top: -2em;
  padding-left: -2em;
  padding-right: -2em;
}

.informacion {
  background: #b1d035;
  border-radius: 10px;
  width: 43%;
  height: 43%;
  font-family: cursive;
  font-size: 20px; 
  margin-top: -10rem;
  margin-bottom: -5rem;
  margin-left: 11.6rem;
  margin-right: 4rem;
  padding-top: 2.5rem;
  padding-bottom: -8rem;
  padding-left: -1rem;
  padding-right: .5rem;
}
@media screen and (min-width: 640px) {
  .informacion {
    display: flex;
    justify-content: space-evenly;
    transform: translateX(0);
  }
}

.info{
  width: 95px;
  height: 70px;
  margin-top: .1em;
  margin-bottom: .5em;
  margin-left: .1em;
  margin-right: -1em;
  padding-top: -2em;
  padding-left: -3em;
  padding-right: -2em;
  padding-bottom: -2em;
}

.emergencia {
  background: #b1d035;
  border-radius: 10px;
  width: 45%;
  height: 45%;
  font-size: 25px;
  margin-top: 3.5em;
  margin-bottom: 1em;
  margin-left: 4.2em;
  margin-right: -4em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
