/* .tengo-ideas{
background: #546a8f; azul 
background: #b1d035;  amarillo 
}
 */

.tengo-ideas {
  max-width: 100%;
  background: #b1d035;
  border-radius: 10px;
  font-size: 20px;  
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bold;
  padding-bottom: -2em;
  padding-top: -.5em;
  padding-left: .5em;
  padding-right: -2em;
}

.preocupa-alguien{
  max-width: 100%;
  background: #b1d035;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: -3em;
  margin-left: 1em; 
  margin-right: 1em;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: -1em;
  padding-right: -.5em;
}

.profecional-familia-interesado{
  max-width: 100%;
  background: #b1d035;
  margin: 1em;
  border-radius: 10px;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;


}

.informacion {
  max-width: 100%;
  background: #b1d035;
  border-radius: 10px;
  font-size: 20px; 
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em .5em .5em .5em
}

.ideas{
  width: 50px;
  height: 50px;
  margin-top: -.01em;
  margin-bottom: 4em;
  margin-right: 1em;
  margin-left: -3.5em;
}

.preocupa{
  width: 55px;
  height: 55px;
  font-weight: bold;
  margin-top: -8em;
  margin-bottom: -2em;
  margin-right: -3.5em;
  margin-left: -.1em;
  padding-top: -2em;
  padding-bottom: -2em;
  padding-right: -1em;
  font-size: 20px; 
}

.hospital {
  width: 110px;
  height: 110px;
  font-weight: bold;
  padding-bottom: 1em;
  padding-top: -2em;
  padding-left: -2em;
  padding-right: -2em;
}

.info{
  width: 90px;
  height: 90px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: .6em;
  margin-right: .6em;
  padding-top: -1em;
  padding-left: -1em;
}